@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BettingApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            
            @* --- Display Email --- *@
            <div class="form-floating mb-3">
                <input type="text" value="@email" id="email" class="form-control" placeholder="" disabled />
                <label for="email" class="form-label">Email</label>
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstName" id="Input.FirstName" class="form-control" placeholder="" />
                <label for="Input.FirstName" class="form-label">First Name</label>
                <ValidationMessage For="() => Input.FirstName" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" id="Input.LastName" class="form-control" placeholder="" />
                <label for="Input.LastName" class="form-label">Last Name</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>

            @* --- Referred By Field --- *@
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.ReferredBy" id="Input.ReferredBy" class="form-control" placeholder="" />
                <label for="Input.ReferredBy" class="form-label">Referred By</label>
                <div class="form-text text-muted">
                    Optional: Who referred you to our web app?
                </div>
                <ValidationMessage For="() => Input.ReferredBy" class="text-danger" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? email;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        email = await UserManager.GetEmailAsync(user);

        // Load existing data
        Input.FirstName ??= user.FirstName;
        Input.LastName ??= user.LastName;
        Input.ReferredBy ??= user.ReferredBy; 
    }

    private async Task OnValidSubmitAsync()
    {
        bool hasChanges = false;

        // --- Save Changes ---
        if (Input.FirstName != user.FirstName)
        {
            user.FirstName = Input.FirstName;
            hasChanges = true;
        }

        if (Input.LastName != user.LastName)
        {
            user.LastName = Input.LastName;
            hasChanges = true;
        }

        if (Input.ReferredBy != user.ReferredBy)
        {
            user.ReferredBy = Input.ReferredBy;
            hasChanges = true;
        }

        if (hasChanges)
        {
            await UserManager.UpdateAsync(user);
            await SignInManager.RefreshSignInAsync(user);
            RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
        }
        else
        {
             RedirectManager.RedirectToCurrentPageWithStatus("No changes were made", HttpContext);
        }
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "First Name")]
        public string? FirstName { get; set; }

        [Required]
        [Display(Name = "Last Name")]
        public string? LastName { get; set; }

        [Display(Name = "Referred By")]
        public string? ReferredBy { get; set; }
    }
}